
{% extends 'base.html' %}

{% block title %} {{g.user.get_full_name()}} {% endblock %}

{% block content %}

<div class="row justify-content-center">

  <div class="col-4 col-sm-4 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{g.user.image_url}}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">
    <h1>{{g.user.get_full_name()}}</h1>
    <p class="lead"> {{g.user.description}} </p>

    <p><b>Username:</b> {{g.user.username}} </p>
    <p><b>Email:</b> {{g.user.email}} </p>
    
    <p></p>
    <p>Your Liked Cafes:</p>
    <ul>
      {% for cafe in g.user.liked_cafes %}
        {% if cafe %}
          <li> {{cafe.name}}</li>
        {% endif %}
        {% else %}
          <p>You have no liked cafes</p>
      {% endfor %}
    </ul>

    <p>
      <a class="btn btn-outline-primary" href="/profile/edit">
        Edit Your Profile
      </a>
    </p>

  </div>

</div>

{% endblock %}